<!DOCTYPE html>
<html>
<head>
  <title>High Speed Chess</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<% if user_signed_in? %>
				<%= link_to "Random MeetUp", activities_path, class: 'brand' %>
				<% else %>
				<%= link_to "Random MeetUp", root_path, class: 'brand' %>
				<% end %>
				<ul class="nav">
					<li><%= link_to "HIGH SPEED CHESS", root_path %></li>
					<li><%= link_to "Current Players", feed_path %></li>
					<li ><%= search_form_for @search do |f| %>
  <div id="searchbox">
    <%= f.text_field :state_cont %>
  </div></li>
  <li><div id="submit"><%= f.submit "Search" %></div>
<% end %></li>

					<% if user_signed_in? %>
						
					<% end %>
				</ul>
				<ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to current_user.full_name, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", logout_path %></li>
					<% else %>
						<li><%= link_to "Register", register_path %></li>
						<li><%= link_to "Log in", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<%= render_breadcrumbs %>
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
				<button class="close" data-dismiss="alert">×</button>
				<%= message %>
			</div>
		<% end %>	    
		<%= yield %>
	</div>
</body>

<script id="activities-template" type="text/x-handlebars-template">
	<a class="dropdown-toggle" href="#">Activity Feed ({{count}})</a>
	<ul class="dropdown-menu">
	{{#each activities}}
		{{activityLink}}
	{{/each}}
	<li class="divider"></li>
	<li><a href="{{activityFeedLink}}">Activity Feed</a></li>
	</ul>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53194647-1', 'auto');
  ga('send', 'pageview');

</script>

</html>